<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Note List</title>
        <script src="https://kit.fontawesome.com/5be1880edb.js" crossorigin="anonymous"></script>
        <style>
            body {
                font-family: "Josefin Sans", sans-serif;
                margin: 0px;
            }

            .navbar {
                overflow: hidden;
                background-color: #333;
            }

            .dropdown {
                float: left;
                overflow: hidden;
            }

            .dropdown .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                margin: 0;
            }

            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: rgb(212, 38, 38);
                transition: all 0.2s ease-in-out
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                transition: all 0.2s ease-in-out
            }

            .dropdown-content a:hover {
                background-color: #ddd;
                transition: all 0.2s ease-in-out
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .note-list {
                text-align: center;
                color: #333;
                font-family: "Abril Fatface,Times New Roman,Times,serif";
                font-size: 80px;
                margin: 0;
                margin-bottom: 40px;
            }

            span {
                color: rgb(212, 38, 38);
            }

            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: 0.3s;
                width: 250px;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
            }

            .card:hover {
                box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
            }

            .container {
                padding: 2px 16px;
                margin-left: auto;
            }

            .container h6 {
                margin: 0;
            }
            
        </style>
    </head>
    <body>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn"><i class="fas fa-bars"></i></button>
                <div class="dropdown-content">
                    <a href="http://127.0.0.1:8000/lab-4/"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a>
                    <a href="http://127.0.0.1:8000/lab-4/add-note"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add</a>
                    <a href="http://127.0.0.1:8000/lab-4/note-list"><i class="fas fa-th-list"></i>&nbsp;&nbsp;List</a>
                </div>
            </div>
        </div>
        <h3 class = "note-list">Note List<span>.</span></h3>
        {% for element in data %}
        <div class="card">
            <div class="container">
                <h4><b>{{ element.title  }}</b></h4>
                <h6>To: {{ element.to }}</h6>
                <h6>From: {{ element.from_user }}</h6>
                <p>{{ element.message }}</p>
            </div>
        </div>
        {% endfor %}
    </body>
</html>