<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Note</title>
        <script src="https://kit.fontawesome.com/5be1880edb.js" crossorigin="anonymous"></script>
        <style>
            body {
                font-family: "Josefin Sans", sans-serif;
                margin: 0px;
            }

            .navbar {
                overflow: hidden;
                background-color: #333;
            }

            .dropdown {
                float: left;
                overflow: hidden;
            }

            .dropdown .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                margin: 0;
            }

            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: rgb(212, 38, 38);
                transition: all 0.2s ease-in-out
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                transition: all 0.2s ease-in-out
            }

            .dropdown-content a:hover {
                background-color: #ddd;
                transition: all 0.2s ease-in-out
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .add-note {
                text-align: center;
                color: #333;
                font-family: "Abril Fatface,Times New Roman,Times,serif";
                font-size: 80px;
                margin: 0;
                margin-bottom: 40px;
            }

            span {
                color: rgb(212, 38, 38);
            }

            input[name=to] {
                width: 300px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 5px;
                font-size: 18px;
                border: 1px  solid #dee7ec;
                padding: 10px;
                font-family: Arial, Helvetica, sans-serif;
            }

            input[name=from_user] {
                width: 300px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 5px;
                font-size: 18px;
                border: 1px  solid #dee7ec;
                padding: 10px;
                font-family: Arial, Helvetica, sans-serif;
            }

            input[name=title] {
                width: 300px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 5px;
                font-size: 18px;
                border: 1px  solid #dee7ec;
                padding: 10px;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            textarea {
                width: 600px;
                height: 100px;
                margin-top: 10px;
                margin-left: 5px;
                font-size: 18px;
                border: 1px solid #dee7ec;
                padding: 10px;
                font-family: Arial, Helvetica, sans-serif;
            }

            input[type=submit] {
                width: 100px;
                height: 50px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn"><i class="fas fa-bars"></i></button>
                <div class="dropdown-content">
                    <a href="http://127.0.0.1:8000/lab-4/"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a>
                    <a href="http://127.0.0.1:8000/lab-4/add-note"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add</a>
                    <a href="http://127.0.0.1:8000/lab-4/"><i class="fas fa-th-list"></i>&nbsp;&nbsp;List</a>
                </div>
            </div>
        </div>
        <h3 class = "add-note">Add Note<span>.</span></h3>
        <form action = '' method = 'POST'>
            {% csrf_token %}
            <input type = "text" placeholder = "To" name = "to" id = "to">
            <input class = "from" type = "text" placeholder = "From" name = "from_user" id = "from_user">
            <input type = "text" placeholder = "Title" name = "title" id = "title">
            <textarea placeholder = "Enter message" name = "message" id = "message"></textarea>
            <input type = "submit" value = "Submit">
        </form>
    </body>
</html>