<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mughni's Lab 5</title>
        <script src="https://kit.fontawesome.com/5be1880edb.js" crossorigin="anonymous"></script>
        <style>
            body {
                font-family: "Josefin Sans", sans-serif;
                margin: 0px;
            }

            .navbar {
                overflow: hidden;
                background-color: #333;
            }

            .dropdown {
                float: left;
                overflow: hidden;
            }

            .dropdown .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                margin: 0;
            }

            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: rgb(212, 38, 38);
                transition: all 0.2s ease-out
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                transition: all 0.2s ease-in-out
            }

            .dropdown-content a:hover {
                background-color: #ddd;
                transition: all 0.2s ease-in-out
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .home {
                text-align: center;
                color: #333;
                font-family: "Abril Fatface,Times New Roman,Times,serif";
                font-size: 80px;
                margin: 0;
                margin-bottom: 40px;
                margin-top: 10px;
            }

            span {
                color: rgb(212, 38, 38);
            }

            table {
                background: #012B39;
                border-radius: 0.25em;
                border-collapse: collapse;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
                width: 80%;
            }

            th {
                border-bottom: 1px solid #ffffff;
                color: #E2B842;
                font-size: 20px;
                font-weight: 600;
                padding: 0.5em 1em;
            }

            td {
                color: #fff;
                font-weight: 400;
                padding: 0.65em 1em;
            }

            tbody tr {
                transition: background 0.25s ease;
            }

            tbody tr:hover {
                background: #014055;
            }

            .actionbtn {
                width: 100px;
            }

            .actionbtn-view {
                background-color: rgb(30, 165, 243);
                border-radius: 0.25em;
                border-collapse: collapse;
                cursor: pointer;
            }

            .actionbtn-view:hover {
                background-color: rgb(30, 130, 200);
            }

            .actionbtn-edit {
                background-color: rgb(70, 233, 49);
                border-radius: 0.25em;
                border-collapse: collapse;
                cursor: pointer;
            }

            .actionbtn-edit:hover {
                background-color: rgb(70, 200, 49);
            }

            .actionbtn-delete {
                background-color: rgb(248, 16, 16);
                border-radius: 0.25em;
                border-collapse: collapse;
                cursor: pointer;
            }

            .actionbtn-delete:hover {
                background-color: rgb(202, 22, 22);
            }

        </style>
    </head>
    <body>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn"><i class="fas fa-bars"></i></button>
                <div class="dropdown-content">
                    <a href="http://127.0.0.1:8000/lab-5/"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a>
                    <a href="http://127.0.0.1:8000/lab-5/"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add</a>
                    <a href="http://127.0.0.1:8000/lab-5/"><i class="fas fa-th-list"></i>&nbsp;&nbsp;List</a>
                </div>
            </div>
        </div>
        <h1 class = "home">Home<span>.</span></h1>
        <table>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
                <th class = "actionbtn">Actions</th>
            </tr>
            {% for element in data %}
            <tr>
                <td>{{ element.to }}</td>
                <td>{{ element.from_user }}</td>
                <td>{{ element.title }}</td>
                <td>{{ element.message }}</td>
                <td class = "actionbtn">
                    <button class = "actionbtn-view"><i class="fas fa-eye"></i></button>
                    <button class = "actionbtn-edit"><i class="fas fa-edit"></i></button>
                    <button class = "actionbtn-delete"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>

