<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lab 3 Form</title>
    </head>
    <body>
    	<form action = "" method = "POST">
            {% csrf_token %}
            <p>Name:</p>
            <input type = "text" placeholder = "Enter Name" name = "name" id = "name"><br>
            <p>NPM:</p>
            <input type = "text" placeholder = "Enter NPM" name = "npm" id = "npm"><br>
            <p>Date of Birth:</p>
            <input type = "date" placeholder = "Enter Date of Birth" name = "date" id = "date"><br>
            <input type = "submit" value = "Submit">
        </form>
    </body>
</html>
